/* RoomComponent.module.css */
.container {
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    background-color: #e9ecef;  /* Outer layer background */
}

.roomNameContainer {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;  /* Space between room name and sublayer */
}

.roomName {
    color: #0088cc;  /* Blue color for the room name */
    margin: 0;
}

.subLayer {
    flex: 1;
    background-color: #f7f7f7;  /* Same as room name container */
    border-radius: 12px;
    padding: 10px;  /* Uniform padding around the sublayer */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.searchInput {
    box-sizing: border-box;  /* Include padding and border in the element's width */
    padding: 8px;
    width: calc(100% - 20px);  /* Adjust width to account for padding of subLayer */
    margin: 0 10px;  /* Uniform margin for left and right */
    border: 2px solid #ccc;  /* Initial border color */
    border-radius: 4px;
    background-color: #eee;  /* Greyed out by default */
}

.searchInput:focus {
    border-color: #0088cc;  /* Blue border on focus */
}

.trackListContainer {
    flex: 1;
    overflow-y: auto;
}

.adminList, .trackList {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.admin, .track {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.stickySearch {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f7f7f7;  /* Ensures the sticky search matches the sublayer background */
}

.loadingSpinner {
    text-align: center;
    padding: 10px;
    color: #ccc;
}

.albumImage {
    width: 50px;  /* Set a fixed width for images */
    height: 50px;  /* Set a fixed height for images */
    object-fit: cover;  /* Ensure the image covers the area without distorting aspect ratio */
    margin-right: 10px;  /* Add some spacing between the image and text */
}
