/* RoomComponent.module.css */
.container {
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it covers at least the full viewport height */
    height: auto; /* Allows the container to grow as needed */
    padding: 10px;
    background-color: #311549; /* Outer layer background */
    overflow: auto; /* Allows scrolling when content exceeds the viewport */
}

.roomNameContainer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;  /* Space between room name and sublayer */
}

.roomName {
    font-family: 'Courier New';
    color: #AA7DD7;
    margin: 0;
    text-shadow: #0088cc -1px 3px 4px;
}

.tab {
    width: 20px; /* Adjust width as needed */
}

.subLayer {
    flex: 1;
    background-color: #1E1E1E;  /* Same as room name container */
    border-radius: 12px;
    padding: 10px;  /* Uniform padding around the sublayer */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.searchInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.searchInput {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 8px;
    padding-right: 30px; /* Make room for the spinner without overlapping text */
    width: 100%; 
    margin: 0;
    border: 2px solid #143D52;
    border-radius: 8px;
    height: 36px;
    color: #1E1E1E;
}

.searchInput::placeholder{
    color: #8C60AB;
    opacity: 1; /* Firefox */
  }

.searchInput:focus {
    border-color: #0088cc;
    outline: none;
    color: #d8b5fc;
}

.loadingSpinner {
    position: absolute;
    right: 0px;  
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 50%;
    border-top-color: #0088cc;
    animation: spin 1s infinite linear;
    margin-right: 10px; 
    z-index: 100;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.adminList, .trackList {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.admin, .track {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.stickySearch {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #f7f7f7;  /* Ensures the sticky search matches the sublayer background */
}

.albumImage {
    object-fit: cover;  /* Ensure the image covers the area without distorting aspect ratio */
    margin-right: 10px;  /* Add some spacing between the image and text */
}

.trackItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #203442; /* Adds a line separator */
    border-radius: 10px;
    overflow: hidden; /* Prevents overflow issues */
    position: relative; /* Ensure stacking context for swipe effect */
    background-color: #523875;
    width: calc(100% - 20px); /* Ensure trackItem spans full width of its container */
}

.albumImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px; /* Rounded corners for the image */
}

.trackInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 0; /* Prevents flex items from growing past their content */
}

.artistName {
    color: #8C60AB;
    font-weight: 500;
    font-size: 14;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Ellipsis for overflowing text */
}

.trackName {
    color: #AD81D8;
    font-weight: 600;
    font-size: 14;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Ellipsis for overflowing text */
}

.resultsContainer {
    position: absolute; /* Position absolutely within the subLayer */
    top: 100%; /* Directly below the search input */
    left: 0; /* Align left edge with the container */
    right: 0; /* Align right edge with the container */
    width: calc(100% - 24px); /* Adjust the width to account for padding */
    max-height: 66vh; /* 2/3 of the viewport height, adjust as necessary */
    overflow-y: auto;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: #1E1E1E;
    border-bottom: 2px solid #0088cc;
    border-left: 2px solid #0088cc;
    border-right: 2px solid #0088cc;
    border-radius: 8px;
    padding: 5px 10px; /* Padding inside container to prevent lines touching the edges */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 15; /* Higher than topChart but lower than sticky search */
}


.trackList {
    padding: 0;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;  /* Makes search input sticky at the top */
    z-index: 20; /* Ensure this is above other content */
    background: inherit;
}

.topChartContainer {
    margin-top: 10px; /* Space below search container */
    z-index: 5; /* Lower than searchContainer */
}

.voteCount {
    margin-left: auto; /* Pushes the vote count to the right */
    background-color: #203442; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    padding: 5px 10px; /* Padding around text */
    align-self: center; /* Align in the center vertically within the track item */
    font-size: 0.9em; /* Slightly smaller font size */
    font-weight: 600; /* Make the font bold */
    color: #AA7DD8; /* Dark grey color for text */
}

/* Styles for glowing border effect */
.votedTrack {
    position: relative;
    overflow: hidden; /* Ensure the glow effect does not overflow the container */
    border-radius: 10px; /* Ensure the same border radius as the glow effect */
    z-index: 2;
}

.votedTrack:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    filter: blur(10px); /* Adjust blur as needed */
    background-image: conic-gradient(rgba(0,0,0,0), #0088cc, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 50%, #0088cc, rgba(0,0,0,0) 90%);
    animation: rotate 4s linear infinite;
    z-index: 0; 
}

.votedTrack:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 7px;
    background: #523875;
    z-index: 1;
}

.innerContent {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure it spans the full width of the list item */
    position: relative;
    z-index: 3; /* Ensure this is above the pseudo-elements */
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
