.swipeableContainer {
    position: relative;
    width: 100%;
    background-color: #523875;
    overflow: hidden;
    z-index: 2;
}

.swiped .swipeableContent {
    transition: transform 0.3s ease;
    z-index: 1;
}

.swipeableContent {
    transition: transform 0.3s ease;
    display: flex; /* Ensure the content uses flexbox */
    align-items: center; /* Align items in the center */
    overflow: hidden; /* Prevent overflow issues */
    position: relative; /* Ensure stacking context */
    background-color: inherit; /* Inherit background color from parent */
    width: 100%; /* Ensure swipeableContent spans full width of its container */
    z-index: 1;
}

.deleteButton {
    position: absolute;
    right: 0;
    top: 50%; /* Position from the top 50% */
    transform: translateY(-50%);
    background-color: #F9583C;
    color: white;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px;
    cursor: pointer;
    height: 90%;
    z-index: 0;
}
